*, html {
  .border-box;
}

body {
	margin: 0;
	padding: 0;
	.relative;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
  .font;
  a {
    color: @blue;
    text-decoration: none;
  }
}

.container {
	.w100;
	.relative;
}

.center {
	.relative;
	.block;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	.clearfix;
}

.page {
	.clearfix;
}

@media @mobile_small {
	.center {
		padding: 0 10px;
	}
}

@media @tablet_portrait_and_bigger {
	.center {
		width: 768px;
		padding: 0 20px;
	}
}

@media @tablet_landscape_and_bigger {
	.center {
		width: 1020px;
	}
	.page--detail > .center,
	.page--single > .center {
		padding: 0 40px;
	}
	.page--detail,
	.page--single {
		.aside {
			width: 280px;
			background: red;
			.right;
		}
		.content {
			width: 600px;
			.left;
		}
	}
}

@media @desktop_and_bigger {
	.center {
		width: 1330px;
	}
	.page--detail > .center,
	.page--single > .center {
		padding: 0 100px;
	}
	.page--detail,
	.page--single {
		.aside {
			width: 300px;
		}
		.content {
			width: 720px;
		}
	}
}

.content--archive {
	.results {
		.block;
		.relative;
		.w100;
		height: 100px;
		background: @color1;
		margin: 0 0 20px;
		> .center {
			height: 100px;
		}
		.result {
			.left;
			.block;
			color: #fff;
			font-size: 20px;
			line-height: 1;
			.fontBold;
			//.vertical-align;
      margin-top: 30px;
			em {
				font-style: normal;
			}
		}
		.btn {
      margin-top: 30px;
			width: 120px;
			.right;
			//.vertical-align;
		}
	}
	.filter-extra {
		display: none;
	}
}

@media @mobile {

}

.course-items {
	clear: both;
	min-height: 600px;
	.clearfix;
	// opacity: 0;
	// display: none;
	// visibility: hidden;
	transition: opacity 0.3s ease;
	&.is-visible {
		opacity: 1;
		display: block;
		visibility: visible;
	}
}

.course-item {
	.block;
	.relative;
	.w100;
	height: 100px;
	background: #fff;
	margin: 0 0 16px;
	box-shadow: 0 0 20px @black20;
	transition: background 0.2s;
	border-radius: 0 4px 4px 0;
	.load-image {
		width: 100px;
		height: 100px;
		.absolute;
		top: 0;
		left: 0;
		bottom: 0;
		&:after {
			content: '';
			.cover-absolute;
			background: @black30;
			opacity: 0;
			transition: opacity 0.2s;
		}
	}
	.course-item-content {
		padding: 16px 20px;
		.w100;
		height: 100px;
		padding-left: 120px; // 100 + 20
		.arrow {
			display: none;
		}
		h2 {
			height: 44px;
			overflow: hidden;
			color: #000;
			transition: color 0.2s;
		}
	}
  span.temp {
    display:block;
    font-size:11px;
    line-height:1;
    color:red;
    .absolute;
    top: -120px;
    left: 20px;
    right: 20px;
  }
	.type,
	.genre {
		.inline-block;
		font-size: 12px;
		line-height: 1;
		.left;
		.fontBold;
		.color1;
		transition: color 0.2s;
	}
	.type {
		.right;
		.font;
		color: @black50;
	}
	&:hover {
		background: @color1;
		.load-image:after {
			opacity: 1;
		}
		h2,
		.genre {
			color: #fff;
		}
		.type {
			color: @black80;
		}
	}
}

@media @tablet_portrait_and_bigger {
	.course-item {
		width: 229px;
		height: 300px;
		margin: 0 20px 40px 0;
		.left;
		&:nth-child(3n) {
			margin-right: 0;
		}
		.load-image {
			width: 349px; width: 229px;
			height: 236px; height: 150px;
			.relative;
			top: auto;
			left: auto;
			bottom: auto;
		}
		.course-item-content {
			.relative;
			padding: 24px;
			height: 150px;
			z-index: 1;
			.arrow {
				opacity: 0;
				transition: opacity 0.2s;
				.block;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: #fff;
				.absolute;
				right: 20px;
				top: -20px;
				box-shadow: 0 2px 4px @black20;
				.svg-icon {
					width: 14px;
					height: 12px;
					margin: 14px auto;
					* {
						fill: @color1;
					}
				}
			}
			h2 {
				height: auto;
				max-height: 68px;
				padding-bottom: 2px;
			}
		}
		.type,
		.genre {
			float: none;
			.absolute;
			left: 24px;
			bottom: 24px;
		}
		.type {
			left: auto;
			right: 24px;
		}
		&:hover {
			.arrow {
				opacity: 1;
			}
		}
	}
}

@media @tablet_landscape_and_bigger {
	.course-item {
		width: 306px;
		height: 360px;
		margin-right: 30px;
		&:nth-child(3n) {
			margin-right: 0;
		}
		.load-image {
			width: 306px;
			height: 200px;
		}
		.course-item-content {
			padding: 30px;
			height: 160px;
			.arrow {
				right: 30px;
			}
		}
		.type,
		.genre {
			left: 30px;
			bottom: 30px;
		}
		.type {
			left: auto;
			right: 30px;
		}
	}
}

@media @desktop_and_bigger {
	.course-item {
		width: 300px;
		&:nth-child(3n) {
			margin-right: 30px;
		}
		&:nth-child(4n) {
			margin-right: 0;
		}
		.load-image {
			width: 300px;
			height: 200px;
		}
	}
}



@media @tablet_portrait_and_bigger {

	.post-type-archive .container {
		background: none;
	}

	.content--archive {
		.results {
			height: 120px;
			background: none;
			margin: 0;
			&:before {
				content: '';
				.w100;
				height: 280px;
				background: @bgColor;
				.absolute;
				top: 0;
				left: 0;
				right: 0;
			}
			> .center {
				height: 120px;
				clear: both;
			}
			.result {
				font-size: 28px;
				.black;
				em {
					color: @color1;
				}
			}
			.btn {
				width: 160px;
			}
			// .btn.btn--filter {
			// 	&:hover {
			// 		background: darken( @color1, 5% );
			// 	}
			// }
		}
		.filter-extra {
			.block;
			.w100;
			height: 80px;
			border-top: 1px solid @black10;
			a {
				.fontBold;
				font-size: 15px;
				line-height: 80px;
				.block;
				.left;
				margin-right: 20px;
				.color1;
			}
			a.reset-filter {
				.right;
				.font;
				.black;
				margin: 0;
				.icon-close {
					margin-top: 30px;
					margin-left: 4px;
					width: 20px;
					height: 20px;
					.right;
					* { fill: @color1; }
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

}

@media @tablet_landscape_and_bigger {

	.content--archive {
		.results {
			.result {
				font-size: 34px;
			}
			.btn {
				width: 200px;
			}
		}
		.filter-extra {
			a {
				margin-right: 30px;
				font-size: 16px;
			}
		}
	}

}

@media @desktop_and_bigger {

	.content--archive {
		.results {
			&:before {
				width: 1440px;
				right: auto;
				left: 50%;
				margin-left: -720px;
			}
			.result {
				font-size: 42px;
			}
			.btn {
				width: 230px;
			}
		}
		.filter-extra {
			a {
				margin-right: 36px;
			}
		}
	}

}

// loader:
.lds-spinner {
  display: inline-block;
  .absolute;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: @color1;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.filter-loader {
  left: 50%;
  top: 100px;
  margin-left: -32px;
}

// filter:
.filter {
	.w100;
	height: 100%;
	.fixed;
	left: -100%;
	top: 0;
	bottom: 0;
	background: @bgColor;
	z-index: 999;
	transition: left 0.3s ease-out;
	&.is-open {
		left: 0;
    visibility: visible;
	}
}

@media @tablet_portrait {
	.filter {
		width: 360px;
		left: -360px;
	}
}

.filter-scroll {
	.cover-absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 3;
	.content-box;
}

.filter-inner {
	padding-top: 70px;
	padding-bottom: 110px;
  .relative;
}

.filter-top {
	.absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	height: 70px;
	z-index: 22;
	background: #fff;
	padding: 0 20px;
	border-bottom: 1px solid @black10;
	box-shadow: 0 0 20px @black10;
	.close-filter {
		.right;
		width: 50px;
		height: 50px;
		line-height: 50px;
		margin: 0 !important;
		.svg-icon {
			width: 20px;
			height: 20px;
			margin: 15px auto 0;
			* { fill: @color1; transition: all 0.2s; }
		}
		&:hover {
			.svg-icon * { fill: #000; }
		}
	}
	.reset-filter {
		.left;
		font-size: 15px;
		line-height: 70px;
		color: #000;
		.icon-filter {
			width: 18px;
			height: auto;
			.left;
			margin-top: 28px;
			margin-right: 6px;
			* { stroke: @color1; }
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

.filter-bottom {
	.absolute;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	height: 110px;
	z-index: 22;
	background: transparent;
	padding: 0 20px;
	.btn {
		.absolute;
		left: 20px;
		right: 20px;
		bottom: 20px;
		margin: 0;
		width: auto;
	}
}

.listing .msg-no-results {
	margin-top: 115px;
}

.filter-block {
	.relative;
	padding: 12px 20px;
	height: 64px;
	overflow: hidden;
	.clearfix;
	&.is-open {
		height: 100%;
		h6 .icon {
			transform: rotate(180deg);
		}
	}
	&:nth-child(even) {
		background: #fff;
		h6 .icon,
		h6 > span {
			background: #fff;
		}
	}
	h6 {
		.block;
		.relative;
		color: @black50;
		font-size: 14px;
		line-height: 40px;
		.font;
		overflow: hidden;
		margin: 0 0 12px;
		> span {
			.relative;
			background: @bgColor;
			padding: 0 10px 0 0;
		}
		&:before {
			content: '';
			.w100;
			height: 1px;
			background: @black10;
			.absolute;
			right: 40px;
			top: 20px;
		}
		.icon {
			background: @bgColor;
			width: 48px;
			height: 40px;
			.block;
			.right;
			.relative;
			.svg-icon {
				width: 16px;
				height: 10px;
				.absolute;
				top: 50%;
				left: 50%;
				margin: -5px 0 0 -8px;
				* {
					fill: transparent;
					stroke: @color1;
				}
			}
		}
	}
	hr {
		border: 0;
		background: @black10;
		height: 1px;
		margin-bottom: 6px;
	}
}

.filter-items.filter-items--column2 {
	.clearfix;
	.filter-item {
		width: 48%;
		.left;
		margin-right: 4%;
		&:nth-child(even) {
			margin-right: 0;
		}
	}
}

.filter-block-item {
	.reset;
	.no-list;
	background: transparent;
}

.filter-item {
	.relative;
	background: transparent;
	transition: background 0.2s;
	border-radius: 4px;
	margin-bottom: 8px;
	> label {
		.block;
		.relative;
		.w100;
		height: 48px;
		background: transparent;
		line-height: 48px;
		padding: 0 0 0 12px;
		cursor: pointer;
		.checkbox,
		.radio {
			.block;
			.relative;
			.left;
			width: 18px;
			height: 18px;
			border: 2px solid #000;
			margin: 14px 8px 0 0;
			border-radius: 4px;
			.check {
				.block;
				.absolute;
				width: 8px;
				height: 8px;
				background: @color1;
				top: 3px;
				left: 3px;
				opacity: 0;
				transition: opacity 0.2s;
			}
		}
		.radio {
			border-radius: 50%;
			.check {
				border-radius: 50%;
			}
		}
		.text {
			font-size: 16px;
			transition: color 0.2s;
			em {
				font-style: normal;
				.right;
				text-align: right;
				.inline-block;
				color: @black50;
				font-size: 15px;
				padding-right: 12px;
        transition: color 0.2s;
			}
		}
	}
	.icon {
		width: 48px;
		height: 48px;
		.block;
		.absolute;
		top: 0;
		right: 0;
		bottom: 0;
		.svg-icon {
			width: 16px;
			height: 10px;
			.absolute;
			top: 50%;
			left: 50%;
			margin: -5px 0 0 -8px;
			* {
				fill: transparent;
				stroke: @black50;
			}
		}
		&:hover {
			.svg-icon {
				* {
					stroke: @color1;
				}
			}
		}
	}
	&.is-inactive {
		> label {
			cursor: default;
			.checkbox,
			.radio {
				border-color: @black30;
			}
			.text {
				color: @black30;
			}
		}
		&:hover {
			.text {
				color: @black30;
			}
		}
	}
	&.is-active {
		background: #fff;
		box-shadow: 0 2px 4px @black10;
		> label {
			.checkbox .check,
			.radio .check {
				opacity: 1;
			}
			.text {
				.fontBold;
				color: @color1;
				em {
					font-weight: normal;
				}
			}
		}
		.icon {
			.svg-icon {
				* {
					stroke: @color1;
				}
			}
		}
	}
	&.is-open {
		background: #fff;
		box-shadow: 0 2px 4px @black10;
		margin: 0 0 12px;
		> label {
			border-bottom: 1px solid @black10;
		}
		.icon {
			transform: rotate(180deg);
			.svg-icon {
				* {
					stroke: @color1;
				}
			}
		}
		ul.filter-block-list {
			display: block;
		}
	}
}

.filter-block-list {
	.reset;
	.no-list;
	display: none;
}

.filter-item.filter-item--sub {
	border-radius: 0;
	&:first-child {
		padding-top: 12px;
	}
	&:last-child {
		padding-bottom: 12px;
	}
	> label {
		border: 0;
		height: 30px;
		line-height: 30px;
		.checkbox {
			margin-top: 6px;
		}
	}
	&.is-active {
		box-shadow: none;
		background: none;
	}
}

@media @tablet_landscape_and_bigger {
	.filter {
		left: 0;
		right: 0;
		transition: opacity 0.3s ease-out;
		opacity: 0;
		visibility: hidden;
		&.is-open {
			opacity: 1;
		}
	}

	.filter-inner {
		padding-top: 100px;
		padding-bottom: 0;
		.clearfix;
	}

	.filter-top {
		height: 100px;
		z-index: 22;
		padding: 0 30px;
		.close-filter {
			line-height: 100px;
			margin-top: 25px;
		}
		.reset-filter {
			line-height: 100px;
			.svg-icon {
				margin-top: 44px;
			}
		}
	}

	.filter-bottom {
		height: 150px;
		padding: 0 30px;
		.btn {
			left: auto;
			right: 30px;
			bottom: 50px;
			margin: 0;
			width: 300px;
		}
	}

	.filter-block {
		width: 25%;
		height: 100%;
		padding: 30px 16px 150px;
		.left;
		&:nth-child(even) {
			background: none;
			h6 > span {
				background: @bgColor;
			}
		}
		&:nth-child(odd) {
			background: #fff;
			h6 > span {
				background: #fff;
			}
		}
		h6 {
			&:before {
				right: 0;
				top: 20px;
			}
			.icon {
				display: none;
			}
		}
		hr {
			margin-bottom: 10px;
		}
	}

	.filter-item {
		> label {
			padding: 0 0 0 6px;
			.text {
				font-size: 15px;
				em {
					font-size: 14px;
					padding-right: 10px;
				}
			}
		}
	}

	.filter-items.filter-items--column2 {
		.filter-item {
			width: 52%;
			margin-right: 2%;
			&:nth-child(even) {
				width: 46%;
			}
			> label .text {
				font-size: 14px;
			}
		}
	}

}

@media @desktop_and_bigger {
	.filter-bottom {
		.btn {
			width: 350px;
		}
	}
	.filter-block {
		padding-top: 60px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.filter-item {
		> label {
			.text {
				font-size: 16px;
				em {
					font-size: 15px;
				}
			}
		}
		&:hover {
			> label {
				.text {
					color: @color1;
				}
			}
		}
	}
	.filter-items.filter-items--column2 {
		.filter-item {
			width: 48%;
			margin-right: 4%;
			&:nth-child(even) {
				width: 48%;
			}
			> label .text {
				font-size: 16px;
			}
		}
	}
}

@media @desktop_wide {
	.filter-block {
		padding-left: 60px;
		padding-right: 60px;
	}
}
